.card {
  border: 2px solid #777777;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 150px auto;
}

.card__img {
  justify-self: center;
  align-self: center;
  border-radius: 10px;
}

.card__title {
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
}

.card__info {
  grid-column: 1 / -1;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 2px solid #777777;
}

.card--night {
  color: #ffffff;
  border-color:  #ffffff;
  background-image: linear-gradient(to left, rgb(0, 0, 20), rgb(0, 0, 134));
}

.card--night .card__info {
  border-top-color:  #ffffff;
}
